{% extends "base/base.html" %}
{% load static %}

{% block title %}Feedback{% endblock %}

{% block body %}
<main class="w-100">
    <div class="container-lg my-lg-5 p-3 rounded shadow bg-body">
        <div class="mb-3">
            <h1 class="fw-bold">Feedback</h1>
            <p></p>
            <form method="post">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="feedback" class="form-label">
                        Deixe aqui suas opiniões sobre o projeto, ideias e como eu posso melhorar ele para você :)
                    </label>
                    <textarea class="form-control" 
                        {% if not user.is_authenticated %} 
                        disabled 
                        placeholder="Você deve estar logado para dar um feedback"
                        {% endif %}
                        id="feedback" name="feedback" rows="5"></textarea>
                </div>
                <button type="submit" 
                    {% if not user.is_authenticated %} disabled {% endif %}
                    class="btn btn-primary w-100">Enviar</button>
            </form>
        </div>
        <div class="py-2 my-2 border-top">
            {% for feedback in feedbacks %}
            <div class="mb-3">
                <div class="d-flex align-items-center">
                    <img 
                        src="{{ feedback.user.perfil.avatar.url }}" 
                        alt="{{ feedback.user.username }}"
                        width="75"
                        class="img-fluid rounded-circle"
                    >
                    <span class="ms-2 align-self-end mb-2">{{ feedback.user.username }}</span>
                </div>
                <div class="d-flex flex-column p-3 my-3 border rounded"
                    style="background-color: #f8f9fa"
                >
                    <p>{{ feedback.feedback }}</p>
                    <span 
                        class="text-secondary align-self-end"
                        style="font-size: 0.875rem;"
                    >{{ feedback.submitted_at }}</span>
                </div>
                <div>
                    <button 
                        class="like-button ms-2" 
                        style="background-color: transparent; border: none;"
                        data-url="{% url 'like_feedback' feedback.id %}"
                    >
                        <i class="{% if user in feedback.likes.all %}fa-solid{% else %}fa-regular{% endif %} fa-thumbs-up"></i>
                        <span>{{ feedback.feedback_likes }}</span>
                    </button>
                </div>
            </div>
            {% endfor %}
        </div>
    </div>
</main>

<script>
document.addEventListener('click', async (event) => {
    const button = event.target.closest('.like-button');
    if (!button) return;
    const url = button.dataset.url;
    
    try {
      const response = await fetch(url, {
        method: 'POST',
        headers: {
          'Content-Type': 'application/json',
          'X-CSRFToken': document.querySelector('input[name="csrfmiddlewaretoken"]').value,
        },
        credentials: 'same-origin',
      });
      
      if (response.ok) {
        const data = await response.json();

        button.querySelector('i').classList.toggle('fa-regular');
        button.querySelector('i').classList.toggle('fa-solid');
        button.querySelector('span').textContent = data.likes_count;
      }
    } catch (error) {
      console.error('Error:', error);
    }
});
</script>
{% endblock %}