{% extends 'base/base.html' %}
{% load static %}

{% block head %}
<title>Publicar na Galeria</title>
{% endblock %}

{% block body %}
<main class="h-75 d-flex justify-content-center">
    <div class="row gap-2 bg-body w-75 h-100 rounded-3 shadow-lg my-5">
        <div class="p-3 col text-center">
            <h2 class="fw-bold mb-3">Novo post</h2>
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <div class="mb-3">
                    <label for="image" class="form-label">Imagem</label>
                    <input type="file" name="image" class="form-control">
                </div>
                <div class="mb-3">
                    <label for="desc" class="form-label">Descrição</label>
                    <textarea name="desc" maxlength="200" rows="10" cols="35" class="form-control"></textarea>
                </div>
                <button type="submit" class="btn btn-primary">Publicar</button>
            </form>
        </div>
        <div class="d-flex gap-3 flex-column p-3 col-7 text-center overflow-y-auto h-100">
            <h2 class="fw-bold mb-3">Galeria</h2>
            {% for post in galeria %}
            {% if post.user == request.user %}
            <div class="p-3 h-100 d-flex flex-column align-items-center border-top">
                <p class="w-75">
                    <small class="text-secondary">{{ post.publicado_em }}</small>
                    <br>
                    {{ post.description }}
                </p>
                <img 
                    src="{{ post.image.url }}" 
                    alt="{{ post.description }}"
                    class="w-50 rounded-2 border"
                >
            </div>
            {% endif %}
            {% endfor %}
        </div>
    </div>
</main>
{% endblock %}