{% extends 'base/base.html' %}

{% block title %}Usuários{% endblock %}

{% block body %}
<main class="w-100">
    <div class="container-lg bg-body p-3 my-lg-5 shadow rounded">
        <ul class="nav nav-pills nav-fill">
            <li class="nav-item">
                <button class="nav-link active" href="#all-profiles">Todos</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" href="#follow-profiles">Seguindo</button>
            </li>
            <li class="nav-item">
                <button class="nav-link" href="#followed-by-profiles">Seguidores</button>
            </li>
        </ul>
        <div class="mt-3">
            <ul id="all-profiles" class="list-group">
                {% for user in users %}
                <li class="list-group-item">
                    <a href="{% url 'profile' user.user.username %}" class="d-flex">
                        <div class="d-flex">
                            <img 
                                src="{{ user.avatar.url }}" 
                                alt="Logo"
                                width="40"
                                height="40"
                                class="rounded-circle me-2"
                            >
                            <span>{{ user.user.username }}</span>
                        </div>
                    </a>
                </li>
                {% endfor %}
            </ul>
            <ul id="follow-profiles" class="list-group d-none">
                {% for user in users %}
                    {% if user in request.user.perfil.follows.all %}
                        {% if user.user.username != request.user.username %}
                        <li class="list-group-item">
                            <a href="{% url 'profile' user.user.username %}" class="d-flex">
                                <div class="d-flex">
                                    <img 
                                        src="{{ user.avatar.url }}" 
                                        alt="Logo"
                                        width="40"
                                        height="40"
                                        class="rounded-circle me-2"
                                    >
                                    <span>{{ user.user.username }}</span>
                                </div>
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
            <ul id="followed-by-profiles" class="list-group d-none">
                {% for user in users %}
                    {% if user in request.user.perfil.followed_by.all %}
                        {% if user.user.username != request.user.username %}
                        <li class="list-group-item">
                            <a href="{% url 'profile' user.user.username %}" class="d-flex">
                                <div class="d-flex">
                                    <img 
                                        src="{{ user.avatar.url }}" 
                                        alt="Logo"
                                        width="40"
                                        height="40"
                                        class="rounded-circle me-2"
                                    >
                                    <span>{{ user.user.username }}</span>
                                </div>
                            </a>
                        </li>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    const tabs = document.querySelectorAll('.nav-link');
    const profiles = document.querySelectorAll('.list-group');

    tabs.forEach(tab => {
      tab.addEventListener('click', () => {
        tabs.forEach(t => t.classList.remove('active'));
        tab.classList.add('active');

        profiles.forEach(profile => profile.classList.add('d-none'));
        const target = document.getElementById(tab.getAttribute('href').substring(1));
        if (target) {
          target.classList.remove('d-none');
        }
      });
    });
  });
</script>
{% endblock %}