{% extends "base/base.html" %}
{% load static %}

{% block head %}
<title>Profile</title>
{% endblock head %} {% block body %}
{% if perfil %}
<main class="d-flex justify-content-center">
    <div id="profile-container" class="container-fluid d-flex flex-column gap-2 w-50 h-100 p-3 px-5 my-5 bg-body rounded-3 shadow-lg">
        <div id="profile" class="d-flex align-items-center gap-5 pb-3 w-100">
            {% if perfil.avatar %}
            <img
                src="{{ perfil.avatar.url }}"
                alt="{{ user.username }}"
                class="rounded-circle border"
                style="width: 200px; height: 200px; background-color: #cfcfcf;"
            />
            {% else %}
            <img
                src="{% static 'img/default_pfp.png' %}"
                alt="{{ user.username }}"
                class="rounded-circle border"
                style="width: 200px; height: 200px; background-color: #cfcfcf;"
            />
            {% endif %}
            <div>
                <h2 class="fw-bold">{{ perfil.user.username }}</h2>
                <div class="d-flex gap-3">
                    <p class="text-secondary">Seguindo: {{ perfil.follows.count }}</p>
                    <p class="text-secondary">Seguidores: {{ perfil.followed_by.count }}</p>
                    <p class="text-secondary">Mensagens: {{ count }}</p>
                </div>
                {% if request.user == perfil.user %}
                <div class="align-self-end">
                    <a class="btn btn-outline-primary" href="{% url 'edit' %}">editar perfil</a>
                </div>
                {% else %}
                <form method="post">
                    {% csrf_token %}
                    {% if perfil in user.perfil.follows.all %}
                    <button 
                        class="btn btn-danger"
                        name="follow"
                        value="unfollow"
                        type="submit">
                        Deixar de seguir
                    </button>
                    {% else %}
                    <button 
                        class="btn btn-primary"
                        name="follow"
                        value="follow"
                        type="submit">
                        Seguir
                    </button>
                    {% endif %}
                </form>
                {% endif %}
            </div>
        </div>
        <div id="profile-info" class="h-100 bg-tertiary rounded-3">
            
            <div id="bio" class="rounded-2 shadow m-2 p-3">
                <h3 class="fw-bold my-3">Sobre</h3>
                {% if perfil.bio %}
                <p>{{ perfil.bio }}</p>
                {% else %}
                <p class="text-secondary">sem bio...</p>
                {% endif %}
            </div>
            <div id="galeria" class="m-2 p-3">
                <div>
                    <div class="d-flex justify-content-between align-items-center">
                        <h3 class="fw-bold my-3">Galeria</h3>
                        {% if request.user.id == perfil.user_id %}
                        <a class="btn btn-outline-primary" href="{% url 'add_post' %}"><i class="fa-solid fa-plus"></i></a>
                        {% endif %}
                    </div>
                    {% for post in galeria %}
                    {% if perfil.user_id == post.user_id %}
                    <div class="d-flex flex-column align-items-center gap-1 p-3 border-top">
                        <p class="w-75 fs-5">
                            <small class="align-self-start fw-light fs-6 text-secondary small">{{ post.publicado_em }}</small>
                            <br>
                            {{ post.description }}
                        </p>
                        <img 
                            src="{{ post.image.url }}" 
                            alt="{{ post.user.username }}"
                            class="w-75 h-75 rounded-1 border"
                        >
                        
                        {% if user in post.likes.all %}
                        <div class="d-flex w-75 fs-4">
                            <a href="{% url 'post_like' post.id %}"><i class="fa-solid fa-heart"></i> {{ post.number_of_likes }}</a>
                        </div>
                        {% else %}
                        <div class="d-flex w-75 fs-4">
                            <a href="{% url 'post_like' post.id %}"><i class="fa-regular fa-heart"></i> {{ post.number_of_likes }}</a>
                        </div>
                        {% endif %}
                    </div>
                    {% endif %}
                    {% empty %}
                    <h4 class="text-secondary">Galeria vazia...</h4>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
</main>
{% endif %}
<!--<script src="{% static 'js/profile.js' %}"></script>-->
<script>
const bio = document.querySelector('div#bio')
const galeria = document.querySelector('div#galeria')
const link_bio = document.querySelector('button#nav-bio')
const link_galeria = document.querySelector('button#nav-galeria')
const links = document.getElementsByClassName('nav-link')

link_bio.addEventListener('click', event => {
  bio.classList.remove('d-none')
  if (galeria.classList != 'd-none') {
    galeria.classList.add('d-none')
  }
  if (link_bio.classList == 'active') {
    return
  } else {
    link_bio.classList.add('active')
    link_galeria.classList.remove('active')
  }
})

link_galeria.addEventListener('click', event => {
  galeria.classList.remove('d-none')
  if (bio.classList != 'd-none') {
    bio.classList.add('d-none')
  }
  if (link_galeria.classList == 'active') {
    return
  } else {
    link_galeria.classList.add('active')
    link_bio.classList.remove('active')
  }
})

</script>
{% endblock body %}
